*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row1 {
    display: flex;
}

.innerrow {
    flex: 1;
    margin: 5px 5px 5px 5px;
}

.column {
    border: navy solid;
    margin: 5px 5px;
    padding: 5px 5px;
}

.row2 {
    display: flex;
} 

.banner {
    flex: 1;
}

.row3 {
    display: flex;
    border: maroon solid;
}

.major-column1 {
    flex:1
}

.major-column2 {
    flex: 8;
}

.mini-row3 {
    display: flex;
}

.mini-column {
    flex: 1;
}

.cityButton {
    margin-top: 5px;
}

